@charset "UTF-8";

@font-face {
    font-family: 'PassionOne';
    src: url('../fontes/PassionOne-bold.ttf')
    format('truetype'); 
}
@font-face {
    font-family: 'sriracha';
    src: url('../fontes/Sriracha-Regular.ttf'); 
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
    background-color: lightgray;
}
header {
    background-color: #000;
    color: #fff;
    text-align: center;
}
header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: passionone, sans-serif;
    font-size: 10vw;   
}
header p {
    padding-bottom: 50px;
}
a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: sriracha, sans-serif;
    font-size: 3.5vw;
}
section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: #fff;
}
section.imagem {
    background-color: #000000a9;
    color: #fff;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.521);
    background-attachment: fixed;
}
section.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: #00000050;
    text-shadow: 1px 1px 0px #000;
   
}
#img01 {
    background-image: url('../imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
}
#img02 {
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
